[submodule "my-recipes/cookbooks/sphinx"]
	path = my-recipes/cookbooks/sphinx
	url = https://github.com/RiotGames/sphinx-cookbook
[submodule "my-recipes/kaize-cookbooks"]
	path = my-recipes/kaize-cookbooks
	url = https://github.com/kaize/cookbooks
[submodule "my-recipes/cookbooks/build-essential"]
	path = my-recipes/cookbooks/build-essential
	url = https://github.com/cookbooks/build-essential
